*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-primary-light);
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 400;
}